<header class="header">
  <div class="container">
    <div class="header-content">
      <h1 class="header-title">Olá, eu sou o <%= profile.name %>
      </h1>
      <p class="header-subtitle">
        <%= profile.occupation %>
      </p>
    </div>
  </div>
</header>