@import url("reset.css");

.container {
  max-width: 480px;
  margin: auto;
  padding: 0 20px;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  padding: 2.5rem 0;
}

.header {
  margin-bottom: 1.5rem;
}

.header-content {
  text-align: center;
}

.header-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;

  @media (max-width: 600px) {
    font-size: 1.25rem;
  }
}

.header-subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-400);
}

.profile-image {
  border-radius: 1rem;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border: 0.5rem solid var(--gray-700);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  margin: 1.5rem 0;

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
  }
}
.social-item:not(:last-child) {
  margin-right: 1rem;

  @media (max-width: 600px) {
    margin-right: 0;
  }
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gray-700);
  padding: 0.5rem;
  border-radius: 100%;

  width: 6rem;
  height: 6rem;

  font-size: 0.875rem;
  text-decoration: none;
  color: var(--gray-300);
  font-weight: 200;

  transition: 0.3s ease;

  &:hover {
    background-color: var(--gray-600);
    border-color: var(--gray-400);
  }
}

.social-link img {
  width: 1.5rem;
  margin-bottom: 0.5rem;
}

.cta {
  display: block;
  border: 1px solid var(--gray-600);
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  text-align: center;
  text-decoration: none;

  color: var(--gray-400);

  transition: 0.3s ease;

  &:hover {
    background-color: var(--gray-600);
    color: var(--gray-300);
    border-color: var(--gray-400);
  }
}

.footer {
  margin-top: 2.5rem;
}
.footer-text {
  text-align: center;
  color: var(--gray-400);
}
